.signature {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  -webkit-animation: shake 3s linear infinite;
          animation: shake 3s linear infinite;
}

@media (orientation: portrait) {
  .signature {
    display: none;
  }
}

.signature span {
  overflow-x: hidden;
  position: relative;
}

.signature span::after {
  content: "";
  display: block;
  position: absolute;
  width: 200%;
  height: 100%;
  background-color: #fff;
  z-index: 5;
  left: 0;
  top: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.signature:hover span::after {
  left: -200%;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  2% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  4% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  6% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  8% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  10% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  11% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  2% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  4% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  6% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  8% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  10% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  11% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.main {
  position: relative;
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
  background-color: black;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: rotateY(0deg) translateZ(0px);
          transform: rotateY(0deg) translateZ(0px);
  -webkit-transform-origin: left;
          transform-origin: left;
  overflow-y: hidden;
}

@media (orientation: portrait) {
  .main {
    width: 100vw;
  }
}

.main.active {
  -webkit-transform: rotateY(30deg) translateZ(-100px);
          transform: rotateY(30deg) translateZ(-100px);
  border: 5px solid red;
}

.sectionChangeBtn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.sectionUp {
  top: 15px;
}

.sectionDown {
  bottom: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section.active {
  opacity: 1;
  visibility: visible;
}

.contact {
  background-image: url(../../images/map4.png);
  background-position: center;
  background-size: cover;
}
/*# sourceMappingURL=MainSection.css.map */