.form 
    width: 800px
    height: 500px 
    padding: 10px
    display: grid
    grid-template-areas: "head head head head head head" "btn1 btn1 btn2 btn2 btn3 btn3" ". btn4 btn4  btn5 btn5 ." "btn6 btn6 btn6 btn6 btn6 btn6" "input1 input1 input1 input2 input2 input2" "submit submit submit submit submit submit"
    @media (orientation: landscape) and (max-width: 900px)
        height: 250px
        grid-template-areas: "head head head head head head" "btn1 btn1 btn2 btn2 btn3 btn3" "btn4 btn4 btn5 btn5 btn6 btn6" "input1 input1 input1 input2 input2 input2" "submit submit submit submit submit submit"
    @media (orientation: landscape) and (max-width: 580px)
        height: 230px
    p,
    button,
    input
        height: 45px
        background-color: #0c0c0c
        color: #fff
        font-size: 20px
        @media (orientation: landscape) and (max-width: 900px) 
            height: 35px
            font-size: 15px
        @media (orientation: landscape) and (max-width: 580px) 
            height: 30px
            font-size: 13px
    p 
        text-align: center
        font-size: 35px
        grid-area: head
        align-self: center
        @media (orientation: landscape) and (max-width: 900px)
            font-size: 25px
        @media (orientation: landscape) and (max-width: 580px)
            font-size: 20px
    button 
        position: relative
        transition: .2s linear
        cursor: pointer
        border: 2px solid #fff
        background-color: #0c0c0c
        outline-offset: 55px
        &:hover 
            letter-spacing: 1px
    input 
        width: 90%
        border: none
        border-bottom: 2px solid #fff
        padding: 5px
        justify-self: center 
        align-self: center
        outline-color: #fff
    input[type="text"]
        grid-area: input1
    input[type="email"]
        grid-area: input2
    button.active 
        outline: none
        background-color: #f00

  
